<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Contact - Budeshi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mdb.css">

    <link rel="stylesheet" type="text/css"
        href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/project-table.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <nav class="mb-1 navbar navbar-expand-lg white text-dark">
        <a class="navbar-brand text-uppercase" href="../index.html">budeshi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon pt-2">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./howItWorks.html">How it Works</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="./projects.html">Projects</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <main style="margin-top: -1%;">
        <section class="jumbotron text-center banner text-white">
            <img src="../img/budeshi-logo.png" alt="budeshi_logo" style="display: inline-block;width:6vw;" />
            <h5 class="text-uppercase pt-3">Contact</h5>
        </section>

        <section class="container">
            <p class="text-center w-responsive mx-auto">Do you have any questions? Please do not hesitate to
                contact us directly and our team will be available to help you.</p>
                <hr width="300" />
            <p class="text-center w-responsive mx-auto mb-5">
                Please note that concerns raised regarding projects shall be taken up with the appropriate
                governing body. Therefore we, the PPDC, are not responsible for taking action.
            </p>
        </section>

        <section class="container p-5 mb-5 card">

            <div class="row">

                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" class="container">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="mb-0">
                                    <label for="name" class="">Your name</label>
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="mb-0">
                                    <label for="email" class="">Your email</label>
                                    <input type="text" id="email" name="email" class="form-control">
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12 pt-2">

                                <div class="">
                                    <label for="message">Your message</label>
                                    <textarea type="text" id="message" name="message" rows="5"
                                        class="form-control md-textarea"></textarea>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="text-center text-md-left">
                        <a class="btn banner text-white">Send</a>
                    </div>
                    <div class="status"></div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>House 2, Plot 622, Mercy Samuelson Estate, Karmo, Abuja</p>
                        </li>

                        <li><i class="fas fa-headset mt-4 fa-2x"></i>
                            <p>+234 800 2833 744</p>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->

            </div>


        </section>

    </main>

    <footer class="page-footer font-small teal teal lighten-3 pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        Budeshi is an initiative of the Public and Private Development Centre in partnership with the
                        School of
                        Media and
                        Communication, Pan-Atlantic University and Premium Times Centre for Investigative Journalism.
                    </p>
                </div>
            </div>
            <hr width="200" />

            <section class="container my-5 d-flex justify-content-center" style="overflow-y: scroll;">
                <img src="../img/ppdc-logo copy.png" alt="ppdc_logo" class="footer--logo px-2">
                <img src="../img/smc.png" alt="" class="footer--logo px-2">
                <img src="../img/ptcij.png" alt="" class="footer--logo px-2">
            </section>

            <section class="container my-3">
                <hr width="200" />
                <div class="d-flex justify-content-center">
                    <ul class="list-group list-group-horizontal border p-2">
                        <span class="d-flex align-items-center text-muted pr-2">Proudly Supported By</span>
                        <li class="list-group-item p-1">
                            <img src="../img/lumintate-logo.png" alt="" class="footer--logo px-2">
                            <span class="vl" style="border-right:1px solid #555;height:max-content;"></span>
                            <img src="../img/macarthur-logo.png" alt="" class="footer--logo px-2">
                        </li>
                    </ul>
                </div>
            </section>

        </div>

        <div class="footer-copyright banner text-center py-3">© 2020 Copyright:
            <a href=""> PPDC</a>
        </div>

    </footer>

    <!-- Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100 id=" projectModal">Supply Of Things</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p><b>Contract Amount:</b> <span>1,000,000</span></p>
                    <hr />
                    <h6>Award</h6>
                    <p><b>Supplier:</b> <span>SAS Int'l</span></p>
                    <p><b>Address:</b> <span>NO. 12, Business Avenue</span></p>
                    <p><b>Tel:</b> <span>+2341234567</span></p>
                    <p><b>Nature Of Business:</b> <span>Sole Proprietorship</span></p>
                </div>
                <div class="modal-footer">
                    <div class="text-center w-100 text-success"><a href="./projectDetails.html">View Project Breakdown
                            <i class="fas fa-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>

    <!-- script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <script>
        AOS.init();
    </script>


</body>

</html>