<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>How it Works - Budeshi</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/mdb.css">
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/project-table.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <!-- font -->
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <meta name="theme-color" content="#fafafa">
        <style>
            h5 {
                color:#204051;
            }
            .list-wrapper {
                position:relative;
            }
            .list-item-wrapper {
                margin-top:10px;
                position:relative;
            }
            .list-bullet {
                float:left;
                margin-right:20px;
                background:#45ffaf;
                height:30px;
                width:30px;
                line-height:30px;
                border-radius:100px;
                font-weight:700;
                color:white;
                text-align:center;
            }
            .list-item {
                display:table-row;
                vertical-align:middle;
            }
            .list-title {
                font-weight:700;
            }
            .list-text {
                font-weight:400;
            }
            .red-line {
                background:#45ffaf;
                z-index:-1;
                width:1px;
                height:100%;
                position:absolute;
                left:15px;
            }
            .white-line {
                background:#FFF;
                z-index:-1;
                top:0px;
                width:1px;
                height:100%;
                position:absolute;
                left:15px;
            }
        </style>
    </head>
    <body>
        <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
        <nav class="mb-1 navbar navbar-expand-lg white text-dark">
            <a class="navbar-brand text-uppercase" href="../index.html">budeshi</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">How it Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./projects.html">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contactUs.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main style="margin-top: -1%;">
            <section class="jumbotron text-center banner text-white">
                <img src="../img/budeshi-logo.png" alt="budeshi_logo" style="display: inline-block;width:6vw;">
                <h5 class="text-uppercase pt-3">How It Works</h5>
                <p>What you need to know when using Budeshi</p>
            </section>
            <section class="container">
                <div class="list-wrapper">
                    <div class="red-line"></div>
                    <div class="list-item-wrapper">
                        <div class="list-bullet">1</div>
                        <div class="list-item">
                            <h5 class="list-title">Landing Page</h5>
                            <div class="list-text">The parallels with the alcoholic republic of two hundred years ago are hard to miss. Before the changes in lifestyle, before the clever marketing, comes the mountain of cheap corn.</div>
                        </div>
                    </div>
                    <div class="list-item-wrapper">
                        <div class="list-bullet">2</div>
                        <div class="list-item">
                            <h5 class="list-title">Projects Page</h5>
                            <div class="list-text">But the outcome of our national drinking binge is not nearly as relevant to our own situation as its underlying cause. Which, put simply, was this: American farmers were producing far too much corn.</div>
                        </div>
                    </div>
                    <div class="list-item-wrapper">
                        <div class="list-bullet">3</div>
                        <div class="list-item">
                            <h5 class="list-title">Monitored Projects Page</h5>
                            <div class="list-text">The parallels with the alcoholic republic of two hundred years ago are hard to miss. Before the changes in lifestyle, before the clever marketing, comes the mountain of cheap corn.</div>
                        </div>
                    </div>
                    <div class="list-item-wrapper">
                        <div class="list-bullet">4</div>
                        <div class="list-item">
                            <h5 class="list-title">Visualization Page</h5>
                            <div class="list-text">But the outcome of our national drinking binge is not nearly as relevant to our own situation as its underlying cause. Which, put simply, was this: American farmers were producing far too much corn.</div>
                        </div>
                    </div>
                    <div class="list-item-wrapper">
                        <div class="list-bullet">5</div>
                        <div class="list-item">
                            <h5 class="list-title">Contacts Page</h5>
                            <div class="list-text">In the early years of the nineteenth century, Americans began drinking more than they ever had before or since, embarking on a collective bender that confronted the young republic with its first major public health crisis -- the obesity epidemic of its day.</div>
                        </div>
                        <div class="white-line"></div>
                    </div>
                </div>
                <!-- <h4>Landing Page</h4>
            <p class="text-justify">
                The landing home page tells you what you need to know about the portal, with information on:
            </p>
            <ul>
                <li>Process of Data Collection</li>
                <li>Data Processing</li>
                <li>What we do with Budeshi</li>
            </ul> -->
            </section>
            <br>
            <br>
            <br>
        </main>
        <footer class="page-footer font-small teal teal lighten-3 pt-4">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            Budeshi is an initiative of the Public and Private Development Centre in partnership with the
                        School of
                        Media and
                        Communication, Pan-Atlantic University and Premium Times Centre for Investigative Journalism.
                        </p>
                    </div>
                </div>
                <hr width="200">
                <section class="container my-5 d-flex justify-content-center" style="overflow-y: scroll;">
                    <img src="../img/ppdc-logo copy.png" alt="ppdc_logo" class="footer--logo px-2">
                    <img src="../img/smc.png" alt="" class="footer--logo px-2">
                    <img src="../img/ptcij.png" alt="" class="footer--logo px-2">
                </section>
                <section class="container my-3">
                    <hr width="200">
                    <div class="d-flex justify-content-center">
                        <ul class="list-group list-group-horizontal border p-2">
                            <span class="d-flex align-items-center text-muted pr-2">Proudly Supported By</span>
                            <li class="list-group-item p-1">
                                <img src="../img/lumintate-logo.png" alt="" class="footer--logo px-2">
                                <span class="vl" style="border-right:1px solid #555;height:max-content;"></span>
                                <img src="../img/macarthur-logo.png" alt="" class="footer--logo px-2">
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="footer-copyright banner text-center py-3">
                © 2020 Copyright:
                <a href=""> PPDC</a>
            </div>
        </footer>
        <!-- script -->
        <script type="text/javascript" src="../js/vendor/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
        AOS.init();
        </script>
    </body>
</html>
