<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Projects - Budeshi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mdb.css">

    <link rel="stylesheet" type="text/css"
        href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/project-table.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <nav class="mb-1 navbar navbar-expand-lg white text-dark">
        <a class="navbar-brand text-uppercase" href="../index.html">budeshi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon pt-2">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./projects.html">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contactUs.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <main style="margin-top: -1%;">
        <section class="jumbotron text-center banner text-white">
            <img src="../img/budeshi-logo.png" alt="budeshi_logo" style="display: inline-block;width:6vw;" />
            <h5 class="text-uppercase pt-3">Projects</h5>
        </section>

        <section class="container">
            <div class="row">
                <div class="col-md-4">
                    <form class="text-center border border-light pt-5 px-5" action="#!">
                        <p>Find Projects</p>
                        <div class="form-row mb-4">
                            <div class="col-md-4">
                                <input type="text" id="" class="form-control" placeholder="Entity">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="" class="form-control" placeholder="State">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="" class="form-control" placeholder="Year">
                            </div>
                        </div>

                        <div class="form-row mb-4">
                            <div class="col-md-6">
                                <input type="text" id="" class="form-control" placeholder="Contractor">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="" class="form-control" placeholder="Monitored">
                            </div>
                        </div>

                        <div class="d-flex justify-content-center pb-5 row">
                            <button class="col-md-8 btn banner text-white btn-rounded">find</button>
                        </div>

                    </form>
                </div>
                <div class="col-md-8">
                    <h5 class="text-center">Summary</h5>
                    <hr width="300" />

                    <section>
                        <div class="row row-cols-1 row-cols-md-2">

                            <div class="col mb-4">
                                <!-- Card -->
                                <div class="card">
                                    <div class="container mt-2 text-center">
                                        <h5 class="banner text-white p-1">
                                            Total number of projects
                                        </h5>
                                    </div>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <h5 class="text-center">
                                            <i class="fas fa-project-diagram fa-lg"></i>
                                            <span>1,000</span>
                                        </h5>
                                    </div>

                                </div>
                                <!-- Card -->
                            </div>

                            <div class="col mb-4">
                                <!-- Card -->
                                <div class="card">
                                    <div class="container mt-2 text-center">
                                        <h5 class="banner text-white p-1">
                                            Total contract sum
                                        </h5>
                                    </div>
                                    <!--Card content-->
                                    <div class="card-body">
                                        <h5 class="text-center">
                                            <i class="fas fa-money-bill"></i>
                                            <span>&#8358;100,000,000.00</span>
                                        </h5>
                                    </div>
                                </div>
                                <!-- Card -->
                            </div>

                            <div class="col mb-4">
                                <!-- Card -->
                                <div class="card">
                                    <div class="container mt-2 text-center">
                                        <h5 class="banner text-white p-1">
                                            Highest contract amount
                                        </h5>
                                    </div>
                                    <!--Card content-->
                                    <div class="card-body">
                                        <h5 class="text-center">
                                            <i class="fas fa-level-up-alt"></i>
                                            <span>&#8358;10,000,000.00</span>
                                        </h5>
                                    </div>
                                </div>
                                <!-- Card -->
                            </div>

                            <div class="col mb-4">
                                <!-- Card -->
                                <div class="card">
                                    <div class="container mt-2 text-center">
                                        <h5 class="banner text-white p-1">
                                            Lowest contract amount
                                        </h5>
                                    </div>
                                    <!--Card content-->
                                    <div class="card-body">
                                        <h5 class="text-center">
                                            <i class="fas fa-level-down-alt"></i>
                                            <span>&#8358;100,000.00</span>
                                        </h5>
                                    </div>
                                </div>
                                <!-- Card -->
                            </div>

                        </div>
                    </section>

                </div>
            </div>
        </section>

        <!-- <section class="mt-5 container">
            <div class="row">
                <div class="col card m-1 shadow">
                    <div id="container1" style="height:300px;"></div>
                </div>
                <div class="col card m-1 shadow">
                    <div id="container2" style="height:300px;"></div>
                </div>
            </div>
        </section> -->

        <section class="mt-5 container border py-3">
            <h4 class="text-center">Tables and Comparisons</h4>
            <hr width="300" />
            <div class="table-responsive">
                <table id="projectTable" class="table table-striped table-hover">
                    <thead>
                        <tr">
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Location</th>
                            <th scope="col">Year</th>
                            <th scope="col">Contractor</th>
                            <th scope="col">Budget Amount</th>
                            <th scope="col">Contract Amount</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check">
                                    <label class="custom-control-label" for="check"></label>
                                </div>
                            </th>
                            <td><a data-toggle="modal" data-target="#projectModal">Supply
                                    of Things</a></td>
                            <td>Abuja</td>
                            <td>2020</td>
                            <td>SAS Int'l</td>
                            <td>1,000,000,000</td>
                            <td>900,000,000</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check">
                                    <label class="custom-control-label" for="check"></label>
                                </div>
                            </th>
                            <td>Supply of Things</td>
                            <td>Abuja</td>
                            <td>2020</td>
                            <td>SAS Int'l</td>
                            <td>1,000,000,000</td>
                            <td>900,000,000</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check">
                                    <label class="custom-control-label" for="check"></label>
                                </div>
                            </th>
                            <td>Supply of Things</td>
                            <td>Abuja</td>
                            <td>2020</td>
                            <td>SAS Int'l</td>
                            <td>1,000,000,000</td>
                            <td>900,000,000</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check">
                                    <label class="custom-control-label" for="check"></label>
                                </div>
                            </th>
                            <td>Supply of Things</td>
                            <td>Abuja</td>
                            <td>2020</td>
                            <td>SAS Int'l</td>
                            <td>1,000,000,000</td>
                            <td>900,000,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center border my-3 py-2 text-info">
                To view projects verified By PPDC,
                <a href="./verifiedByPPDC.html">
                    Click here <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </section>

        <br /><br /><br />
    </main>

    <footer class="page-footer font-small teal teal lighten-3 pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        Budeshi is an initiative of the Public and Private Development Centre in partnership with the
                        School of
                        Media and
                        Communication, Pan-Atlantic University and Premium Times Centre for Investigative Journalism.
                    </p>
                </div>
            </div>
            <hr width="200" />

            <section class="container my-5 d-flex justify-content-center" style="overflow-y: scroll;">
                <img src="../img/ppdc-logo copy.png" alt="ppdc_logo" class="footer--logo px-2">
                <img src="../img/smc.png" alt="" class="footer--logo px-2">
                <img src="../img/ptcij.png" alt="" class="footer--logo px-2">
            </section>

            <section class="container my-3">
                <hr width="200" />
                <div class="d-flex justify-content-center">
                    <ul class="list-group list-group-horizontal border p-2">
                        <span class="d-flex align-items-center text-muted pr-2">Proudly Supported By</span>
                        <li class="list-group-item p-1">
                            <img src="../img/lumintate-logo.png" alt="" class="footer--logo px-2">
                            <span class="vl" style="border-right:1px solid #555;height:max-content;"></span>
                            <img src="../img/macarthur-logo.png" alt="" class="footer--logo px-2">
                        </li>
                    </ul>
                </div>
            </section>

        </div>

        <div class="footer-copyright banner text-center py-3">© 2020 Copyright:
            <a href=""> PPDC</a>
        </div>

    </footer>

    <!-- Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100 id=" projectModal">Supply Of Things</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p><b>Contract Amount:</b> <span>1,000,000</span></p>
                    <hr />
                    <h6>Award</h6>
                    <p><b>Supplier:</b> <span>SAS Int'l</span></p>
                    <p><b>Address:</b> <span>NO. 12, Business Avenue</span></p>
                    <p><b>Tel:</b> <span>+2341234567</span></p>
                    <p><b>Nature Of Business:</b> <span>Sole Proprietorship</span></p>
                </div>
                <div class="modal-footer">
                    <div class="text-center w-100 text-success"><a href="./projectDetails.html">View Project Breakdown
                            <i class="fas fa-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>

    <!-- script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <script>
        AOS.init();
    </script>


</body>

</html>