<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Verified - Budeshi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mdb.css">

    <link rel="stylesheet" type="text/css"
        href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/project-table.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    <nav class="mb-1 navbar navbar-expand-lg white text-dark">
        <a class="navbar-brand text-uppercase" href="../index.html">budeshi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./projects.html">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <section class="jumbotron d-flex justify-content-center banner text-white">
            <h5 class="">Verified by PPDC</h5>
        </section>

        <section class="container d-flex justify-content-center">
            <!-- search form -->
            <form class="text-center border border-light pt-5 px-5" action="#!">
                <div class="form-row mb-4">
                    <div class="col-md-4">
                        <input type="text" id="" class="form-control" placeholder="Entity">
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="" class="form-control" placeholder="State">
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="" class="form-control" placeholder="Year">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-md-6">
                        <input type="text" id="" class="form-control" placeholder="Contractor">
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="" class="form-control" placeholder="Monitored">
                    </div>
                </div>

                <div class="d-flex justify-content-center pb-5 row">
                    <button class="col-md-4 btn banner text-white btn-rounded">find</button>
                </div>

            </form>
        </section>

        <section class="container border border-light p-5 mt-5">
            <div class="row">
                <div class="col-md-6">
                    <form class="text-center border pt-5 px-5" action="#!">
                        <div class="form-row mb-4">
                            <div class="col-md-10">
                                <input type="text" id="" class="form-control" placeholder="Search by state">
                            </div>
                        </div>

                        <div class="form-row mb-4">
                            <div class="col-md-10">
                                <input type="text" id="" class="form-control" placeholder="Search by sector">
                            </div>
                        </div>

                        <div class="form-row mb-4">
                            <div class="col-md-10">
                                <input type="text" id="" class="form-control" placeholder="Search by MDA">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <img src="../img/ng.svg" alt="ng_map" width="300">
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 container">

            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">
                        <div class="container mt-2 text-center">
                            <h5 class="banner text-white p-1">Project Title</h5>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="view overlay">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                                            alt="Card image cap">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Project Summary</h4>
                                    <p class="card-text">Some quick example text to show the project details
                                        and make up the bulk of the card content.</p>
                                </div>

                            </div>
                            <div class="text-center mt-2">
                                <a href="./verifiedByPPDC-details.html" type="button"
                                    class="btn banner text-white text-center btn-sm">view project</a>
                            </div>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">
                        <div class="container mt-2 text-center">
                            <h5 class="banner text-white p-1">Project Title</h5>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="view overlay">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                                            alt="Card image cap">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Project Summary</h4>
                                    <p class="card-text">Some quick example text to show the project details
                                        and make up the bulk of the card content.</p>
                                </div>

                            </div>
                            <div class="text-center mt-2">
                                <a href="./verifiedByPPDC-details.html" type="button"
                                    class="btn banner text-white text-center btn-sm">view project</a>
                            </div>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">
                        <div class="container mt-2 text-center">
                            <h5 class="banner text-white p-1">Project Title</h5>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="view overlay">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                                            alt="Card image cap">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Project Summary</h4>
                                    <p class="card-text">Some quick example text to show the project details
                                        and make up the bulk of the card content.</p>
                                </div>

                            </div>
                            <div class="text-center mt-2">
                                <a href="./verifiedByPPDC-details.html" type="button"
                                    class="btn banner text-white text-center btn-sm">view project</a>
                            </div>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">
                        <div class="container mt-2 text-center">
                            <h5 class="banner text-white p-1">Project Title</h5>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="view overlay">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                                            alt="Card image cap">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Project Summary</h4>
                                    <p class="card-text">Some quick example text to show the project details
                                        and make up the bulk of the card content.</p>
                                </div>

                            </div>
                            <div class="text-center mt-2">
                                <a href="./verifiedByPPDC-details.html" type="button"
                                    class="btn banner text-white text-center btn-sm">view project</a>
                            </div>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
            </div>
        </section>

        <br /><br /><br />
    </main>

    <footer class="page-footer font-small teal teal lighten-3 pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        Budeshi is an initiative of the Public and Private Development Centre in partnership with the
                        School of
                        Media and
                        Communication, Pan-Atlantic University and Premium Times Centre for Investigative Journalism.
                    </p>
                </div>
            </div>
            <hr width="200" />

            <section class="container my-5 d-flex justify-content-center" style="overflow-y: scroll;">
                <img src="../img/ppdc-logo copy.png" alt="ppdc_logo" class="footer--logo px-2">
                <img src="../img/smc.png" alt="" class="footer--logo px-2">
                <img src="../img/ptcij.png" alt="" class="footer--logo px-2">
            </section>

            <section class="container my-3">
                <hr width="200" />
                <div class="d-flex justify-content-center">
                    <ul class="list-group list-group-horizontal border p-2">
                        <span class="d-flex align-items-center text-muted pr-2">Proudly Supported By</span>
                        <li class="list-group-item p-1">
                            <img src="../img/lumintate-logo.png" alt="" class="footer--logo px-2">
                            <span class="vl" style="border-right:1px solid #555;height:max-content;"></span>
                            <img src="../img/macarthur-logo.png" alt="" class="footer--logo px-2">
                        </li>
                    </ul>
                </div>
            </section>

        </div>

        <div class="footer-copyright banner text-center py-3">© 2020 Copyright:
            <a href=""> PPDC</a>
        </div>

    </footer>

    <!-- script -->
    <script type="text/javascript" src="../js/vendor/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <script>
        AOS.init();
    </script>


</body>

</html>